<h2>Hola <%= @email %>!</h2>

<% if @resource.try(:unconfirmed_email?) %>
  <p>El presente es para notificarle que su correo electrónico ha sido cambiado a: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>El presente es para notificarle que su correo electrónico ha sido cambiado a: <%= @resource.email %>.</p>
<% end %>
