<h2>Hola <%= @resource.email %>!</h2>

<p>Alguien ha solicitado cambiar su contraseña. Para realizar esta acción dirijase al siguiente link.</p>

<p><%= link_to 'Cabiar mi contraseña', edit_doctor_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no requirió esto, por avor ignore este mensaje.</p>
<p>Su contraseña no será cambiada a menos que usted se dirija al link arriba y cree una nueva.</p>
