<h2>Hola <%= @resource.email %>!</h2>

<p>Su cuenta ha sido bloqueada debido al excesivo número de intentos de inicio de sesión fallidos.</p>

<p>Clic en el link para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
