<br>
<div class="w3ls_logo_products_left1">
</div>
<div class="w3ls_logo_products_left">
	<h1><a href=<% home_index_path %> ><b>Medline</b> </a></h1>
</div>
<div class="w3l_search">
	<form action="#" method="post">
		<input type="search" name="Search" placeholder="Búsca tu producto..." required="">
		<button type="submit" class="btn btn-default search" aria-label="Left Align">
			<i class="fa fa-search" aria-hidden="true"> </i>
		</button>
		<div class="clearfix"></div>
	</form>
</div>
<div class="clearfix"> </div>
<div class="box box-primary"></div>
