<br>
<div class="w3ls_logo_products_left1">
</div>
<div class="w3ls_logo_products_left">
	<h1><a class="center_text_2" href=<% home_index_path %>><b>Medline</b> </a></h1>
</div>
<div class="clearfix"> </div>
<div class="box box-primary"></div>
<div class="main main-raised main-product">
  <div class="row">
    <div class="col-md-6 col-sm-6">
     	<div class="tab-home">
				<div class="tab-pane" id="product-page1">
					<%= image_tag("icons/medline.png")%>
				</div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
			<h2 class="title"> ¿Como Funciona? </h2>
			<div id="acordeon">
				<div class="panel-group" id="accordion">
					<div class="panel panel-border panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h4 class="panel-title">Receta con Medline</h4>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
									<p>Ingresa a tu módulo de recetas y has "click" en "Generar Receta".
									Procede a ingresar los datos del paciente, así como los medicamentos necesarios. Por último da click en "Generar Receta".</p>
							</div>
						</div>
					</div>
					<div class="panel panel-border panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
								<h4 class="panel-title">Solicitud Enviada</h4>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								Una vez generada la receta el personal de Medline se encargará de recibir la orden y contactar al paciente para proceder con la cancelación del pedido.
							</div>
						</div>
					</div>
					<div class="panel panel-border panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
								<h4 class="panel-title">Recibe tus ganancias</h4>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								Por cada compra realizada por el paciente de acuerdo a la receta generada usted recibira un porcentaje de ganancias.
							</div>
						</div>
					</div>
				</div>
      </div><!--  end acordeon -->
  	</div>
	</div>
</div>