<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Cambio de contraseña en Medline</h1>
    <p>Estimado(a):, <%= @resource.full_name %>.</p>
    <p>Usted ha solicitado el cambio de su contraseña desde su dispositivo móvil.</p>
    <p>Su nueva contraseña autogénerada es la siguiente:</p>
    <p>Contraseña: <%= @generated_password %></p>
    <p>Le recomendaos actualizar su contraseña en la sección de "Actualizar Perfíl" en su dispositivo móvil.</p>
    <br>
    <p>Gracias y que tenga un buen día!</p>
  </body>
</html>

