<br>
<div class="w3ls_logo_products_left1">
</div>
<div class="w3ls_logo_products_left">
	<h1><a href=<% home_index_path %> ><b>Medline</b> </a></h1>
</div>
<div class="clearfix"> </div>
<div class="box box-primary"></div>
<div class="main main-raised main-product">
  <div class="row">
    <div class="col-md-6 col-sm-6">
     	<div class="tab-home">
				<div class="tab-pane" id="product-page1">
					<%= image_tag("icons/logo_ipe.jpeg")%>
				</div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
			<h2 class="title"> Ipe Grupo Comercial </h2>
			<div id="acordeon">
				<div class="panel-group" id="accordion">
					<div class="panel panel-border panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h4 class="panel-title">Nuestros inicios</h4>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
									<p>Fundada en 2010, IPE Grupo Comercial ha sido reconocido(a) como la institución líder en avalúos y transacciones en Cuenca. Cuando los clientes están interesados en obtener evaluaciones precisas para sus bienes, yo soy la opción a la que recurren primero. Mis servicios incluyen, además, orientación durante todo el proceso. Contácteme hoy mismo y programe una consulta.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-border panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
								<h4 class="panel-title">Nuestros servicios</h4>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li>Comercialización de Propiedades</li>
									<li>Avalúos comerciales dentro de la ciudad</li>
									<li>Colocación de créditos hipotecarios</li>
									<li>Costo para venta de propiedad dentro de la ciudad 3%</li>
									<li>Servicio de asesoria jurídica</li>
									<li>Mucho más.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
      </div><!--  end acordeon -->
  	</div>
	</div>
</div>